/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 60px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #f9f9f9;
		position: absolute;
		z-index: 101;
		padding: 30px 70px 35px 50px;
		box-shadow: 0 10px 15px -5px rgba(0,0,0,.5);
}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 40px;
		line-height: .5;
		position: absolute;
		top: 20px;
		right: 20px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: normal;
		cursor: pointer;
} 

	.reveal-modal p {
		color: #71717F;
		font-size: 18px;
		margin: 0 0 40px;
		padding: 0px 0 0;
	
}

	.reveal-modal h6 {
		color: #343434;
		font-size: 18px;
		margin: 0 0 5px;
		padding: 0px 0 0;
		float: left;
		text-align: right;
		width: 210px;
}

	.reveal-modal input{
		height: 30px;
		width: 390px;
		margin: 0px 0 15px;
		color: #666;
		font-size: 18px;
		padding: 5px 0px 0px;
		background: transparent;
	
		position: relative;
		top: -13px;
		left: 15px;
}
	
	.reveal-modal .btn-zone{
	    clear: left;
	    width: 101%;
	    text-align: right;
	    position: relative;
	    margin: -10px 0 10px;
}
	.reveal-modal .loader{
		display: inline-block;
		width: 16px;
		height: 16px;
		background: url('../images/loader-w.gif')0 50% no-repeat;
		border: none;
		outline: none;
		text-indent: -999em;
		overflow: hidden;
		bottom: 17px;
		right: 150px;
		position: absolute;
}

/* Gamma Gallery Style */

.gamma-container {
	min-height: 200px;
}

.gamma-gallery {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
	margin:0 auto;
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.gamma-gallery:before,
.gamma-gallery:after {
    content: " ";
    display: table;
}

.gamma-gallery:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
.gamma-gallery {
    *zoom: 1;
}
 */

.gamma-gallery li {
	display: block;
	position: relative;
	cursor: pointer;
	float: left;
	padding: 4px;
}

.gamma-gallery li img {
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;
}

 

.gamma-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10001;
}

.gamma-buttons button {
	float: left;
	background: #333;
	color: #fff;
	display: block;
	width: 30px;
	height: 30px;
	font-size: 14px;
	margin-left: 5px;
	cursor: pointer;
	border: none;
	outline: none;
}

.gamma-buttons button:before,
.gamma-nav span:before {
	font-family: 'entypo-selected';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: block;
	text-align: center;
	opacity: 0.7;
	outline: none;
}

.no-touch .gamma-buttons button:hover {
	background: #666;
}

button.gamma-btn-close:before {
	content: '\2715';
}

button.gamma-btn-ssplay:before {
	content: '\25b6';
}

button.gamma-btn-sspause:before {
	content: '\2389';
}

.gamma-single-view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	z-index: 10000;
	text-align: center;
	display:none;
}

.gamma-overlay {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: none;
	z-index: 9999;
}

.gamma-single-view img {
	position: absolute;
	cursor: pointer;
}

.gamma-description-wrapper {
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	padding: 5px 0;
}

.gamma-single-view .gamma-description {
	background: transparent;
	position: relative;
	bottom: auto;
	left: auto;
	right: auto;
	top: auto;
}

.gamma-single-view .gamma-description h3 {
	font-size: 15px;
	padding: 5px 0;
	color: #fff;
}

.gamma-nav span {
	position: absolute;
	display: block;
	width: 20px;
	height: 38px;
	top: 50%;
	margin-top: -19px;
	left: 20px;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.gamma-nav span.gamma-next {
	left: auto;
	right: 20px;
}

.gamma-nav span:before {
	color: #fff;
	opacity: 0.7;
	font-size: 40px;
}

.gamma-nav span:hover:before {
	opacity: 1;
}

.gamma-nav span:before {
	display: block;
	margin: 0;
	width: auto;
}

.gamma-nav span.gamma-prev:before {
	content: '\e75d';
}

.gamma-nav span.gamma-next:before {
	content: '\e75e';
}

.gamma-img-fly {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

/* Loaders */

.gamma-loading {
	background: transparent url(../images/loader_light.gif) no-repeat center center;
}

.gamma-single-view.gamma-loading {
	background: transparent url(../images/loader_dark.gif) no-repeat center center;
}


/* Make some things unselectable. Remove where selection is needed: */

.gamma-container img,
.gamma-nav span,
.gamma-buttons button,
.gamma-description-wrapper,
.gamma-description,
.gamma-description h3 {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 750px) {

	.gamma-description {
		top: 10px;
		left: 10px;
		bottom: 10px;
		right: 10px;
	}

	.gamma-description h3 {
		font-size: 14px;
		padding: 0 5px;
	}

}

@media screen and (max-width: 500px) {

	.gamma-buttons {
		float: left;
		clear: both;
	}

}



@charset 'UTF-8';
/*
 * Bootstrap Image Gallery CSS 2.5.2
 * https://github.com/blueimp/Bootstrap-Image-Gallery
 *
 * Copyright 2011, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.modal-gallery {
  width: auto;
  max-height: none;
  outline: none;
  background-color: transparent;
}
.modal-gallery .modal-body {
  max-height: none;
}
.modal-gallery .modal-title {
  display: inline-block;
  max-height: 54px;
  overflow: hidden;
}
.modal-gallery .modal-image {
  position: relative;
  margin: auto;
  min-width: 128px;
  min-height: 128px;
  overflow: hidden;
  cursor: pointer;
}
.modal-gallery .modal-image:hover:before,
.modal-gallery .modal-image:hover:after {
  content: '\2039';
  position: absolute;
  top: 50%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 1;
}
.modal-gallery .modal-image:hover:after {
  content: '\203A';
  left: auto;
  right: 15px;
}
.modal-single .modal-image:hover:before,
.modal-single .modal-image:hover:after {
  display: none;
}
.modal-loading .modal-image {
  background: url(../img/loading.gif) center no-repeat;
}
.modal-gallery.fade .modal-image {
  -webkit-transition: width 0.15s ease, height 0.15s ease;
  -moz-transition: width 0.15s ease, height 0.15s ease;
  -ms-transition: width 0.15s ease, height 0.15s ease;
  -o-transition: width 0.15s ease, height 0.15s ease;
  transition: width 0.15s ease, height 0.15s ease;
}
.modal-gallery .modal-image * {
  position: absolute;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-gallery.fade .modal-image * {
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.modal-gallery .modal-image *.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.modal-fullscreen {
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  background: transparent;
  overflow: hidden;
}
.modal-fullscreen.modal-loading {
  border: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.modal-fullscreen .modal-body {
  padding: 0;
}
.modal-fullscreen .modal-header,
.modal-fullscreen .modal-footer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  opacity: 0;
  z-index: 2000;
}
.modal-fullscreen .modal-footer {
  top: auto;
  bottom: 0;
}
.modal-fullscreen .close,
.modal-fullscreen .modal-title {
  color: #fff;
	text-shadow: 0 0 2px rgba(33, 33, 33, 0.8);
}
.modal-fullscreen .modal-header:hover,
.modal-fullscreen .modal-footer:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .modal-gallery .btn span {
    display: none;
  }
  .modal-fullscreen {
    right: 0;
    left: 0;
  }
}

/*fix*/

.modal-gallery {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 1050;
	width: 100%;
	margin: 0;
	border: 1px solid transparent;
	border: 1px solid rgba(0, 0, 0, 0);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.modal-gallery .modal-header {
padding: 9px 15px;
border-bottom: 0px solid #EEE;
}

.modal-gallery .modal-footer {
	padding: 14px 15px 15px;
	margin-bottom: 0;
	text-align: center;
	background-color: transparent;
	border-top: 0px solid #DDD;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.modal-gallery .modal-header h6{
	opacity: 0;
}

.modal-backdrop, .modal-backdrop.fade.in {
opacity: 0.95;
filter: alpha(opacity=95);
}

.modal-gallery .close:hover {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.modal-gallery .close {
	float: right;
	font-size: 100px;
	font-weight: lighter;
	line-height: 0;
	color: rgba(255, 255, 255, 1);
	text-shadow: none;
	opacity: 0.4;
	font-family: 'HelveticaLTStdLight';
	filter: alpha(opacity=40);
}

/*iscroll*/
body,html{
}
#wrapper {
    position:absolute; z-index:1;
    top:0; 
    bottom:0; 
    left:0;
    right: 0;
    width:100%;
    background:transparent;
    overflow:auto;
}